<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <title><%= title %></title>
        <%- include("partials/errors.ejs")  %>
        <form action="/<%= user.id %>/update" method="POST">
            <input type="text" name="firstName" value="<%= user.firstName %>" required>
            <input type="text" name="lastName" value="<%= user.lastName %>">
            <button type="submit">Update User</button>
        </form>
        <a href="/">Back to home</a>
    </body>
</html>